:root {
    --dark-green: #17301C;
    --teal: #5D8383;
    --coffee: #502b22;
    --tea-rose: #EFC7C2;
    --champagne: #FFE5D4;
    --light-gray: #dfdfdf;
}

body {
    font-family: Verdana;
    background-color: var(--light-gray);
}

/* Navigation Bar */
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--dark-green);
}
.nav li {
    float: left;
    border-right: 1px solid var(--light-gray);
}
.nav li a  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav li a.nav-active {
    background-color: var(--coffee);
}
.nav li a.nav-inactive:hover {
    background-color: var(--teal);
}

